@import 'tailwindcss';

@theme {
  --font-mono: 'W95FA', 'Microsoft Sans Serif', 'Tahoma', monospace;
  --spacing-taskbar: 40px;
  --color-base: #c0c0c0;
  --color-shadow: #414141;
  --color-highlight: #f3f3f3;
  --color-midtone: #8b8b8b;
  --color-wallpaper: #008080;
  --color-active: #000080;
  --color-inactive: #808080;
}

@layer base {
  body {
    font-family: var(--font-mono);
    color: var(--color-shadow);
  }
}

@utility out-3d {
  border: 2px solid var(--color-highlight);
  border-right-color: var(--color-shadow);
  border-bottom-color: var(--color-shadow);
  box-shadow: inset -1px -1px 0 var(--color-midtone);
}

@utility in-3d {
  border: 2px solid var(--color-highlight);
  border-left-color: var(--color-shadow);
  border-top-color: var(--color-shadow);
  box-shadow: inset 1px 1px 0 var(--color-midtone);
}
